:root {
  --main-bg-color: #F1F3F0;
  --second-color: #34585B;
  --third_color: #7E8179;
}
body {
  font-family: 'Montserrat';
  background-color: var(--main-bg-color);
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  display: table;
  height: 80px;
  background-color: var(--second-color);
  width: 100%;
  left: 0;
}
.header-logo {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: var(--main-bg-color);
  font-size: 36px;
}
.content {
  padding-top: 80px;
}
.login {
  padding-top: 180px;
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;
}
.login-title {
  font-weight: bold;
  text-align: center;
  color: var(--second-color);
  font-size: 30px;
}
.login-form {
  padding-top: 50px;
}
.input_1 {
  background: var(--main-bg-color);
  border: none;
  border-bottom: 1px solid var(--third_color);
  padding:10px;
  margin-top: 14px;
  width: 100%;
}
.input_1:focus {
  outline: none;
}
.login-form {
  display: table-cell;
}
.button_1 {
  width: 100%;
  text-align: center;
  background-color: var(--third_color);
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: var(--main-bg-color);
  margin-top: 20px;
}
